<html>
    <head>

    </head>
    <body>   
        <form action="">
            <p>Name: <input type="text" id="name" name="name"></p>
            <p>UserName: <input type="text" id="username" name="username"></p>
            <p>Date of Birth: <input type="date" id="dob" name="dob"></p>
            <p>Email: <input type="text" id="email" name="email"></p>
            <p>Telephone No.: <input type="text" id="tel" name="tel"></p>
            <p>NIC No.: <input type="text" id="nic" name="nic"></p>
            <p>Gender: <br><input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label></p>     
            <P>Password: <input type=password name= password1/></P>
            <P>Renter Password: <input type=password name= password2/></P>
            <p><input type="submit" name="submit" id="submit"></p>
        </form>
    </body>
</html>